.CaseButton {
  
  flex-shrink: 0;
  width: auto;
}

.CaseButton:hover {
  background-color: var(--mantine-color-dark-8);
}

.TestCaseContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* hide scrollbar for different browsers */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.RunButton {
  flex-shrink: 0;
  width: auto;
}

.TestCaseBar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
