# Virtual environments
venv/
.venv/

# Ignore Python cache files
.pytest_cache/
__pycache__/

# Ignore environment variables file
.env
.env.dev
.env.prod
env/

# Ignore service account key file
serviceAccountKey.json

# Ignore node modules
node_modules/

# Mac
.DS_Store

# editor and IDE files
.vscode/
