apiVersion: v1
kind: ResourceQuota
metadata:
  name: runner-quota
  namespace: runner-dev
spec:
  hard:
    requests.cpu: "1" # 5 pods × 100m = 0.5 CPU, buffer = 1 CPU
    requests.memory: "1Gi" # 5 pods × 128Mi = 0.64Gi, buffer = 1Gi
    limits.cpu: "3" # 5 pods × 500m = 2.5 CPU, buffer = 3 CPU
    limits.memory: "2Gi" # 5 pods × 256Mi = 1.28Gi, buffer = 2Gi
    pods: "5"
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: runner-quota
  namespace: runner-prod
spec:
  hard:
    requests.cpu: "1" # 5 pods × 100m = 0.5 CPU, buffer = 1 CPU
    requests.memory: "1Gi" # 5 pods × 128Mi = 0.64Gi, buffer = 1Gi
    limits.cpu: "3" # 5 pods × 500m = 2.5 CPU, buffer = 3 CPU
    limits.memory: "2Gi" # 5 pods × 256Mi = 1.28Gi, buffer = 2Gi
    pods: "5"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: runner-limits
  namespace: runner-dev
spec:
  limits:
    - max:
        cpu: "1"
        memory: "1Gi"
      min:
        cpu: "50m"
        memory: "64Mi"
      default:
        cpu: "500m"
        memory: "256Mi"
      defaultRequest:
        cpu: "100m"
        memory: "128Mi"
      type: Container
---
apiVersion: v1
kind: LimitRange
metadata:
  name: runner-limits
  namespace: runner-prod
spec:
  limits:
    - max:
        cpu: "2"
        memory: "2Gi"
      min:
        cpu: "50m"
        memory: "64Mi"
      default:
        cpu: "500m"
        memory: "256Mi"
      defaultRequest:
        cpu: "100m"
        memory: "128Mi"
      type: Container
