version: "3.8"

services:
  controller:
    build:
      context: ./controller
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
      - "5678:5678" # Port for debugpy
    env_file:
      - .env
    environment:
      - LOCAL_DEV=${LOCAL_DEV}

      # EKS authentication
      - EKS_CLUSTER_NAME=${EKS_CLUSTER_NAME}
      - AWS_REGION=${AWS_REGION}

      # AWS credentials (for local development with EKS)
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID_CODEEXEC}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY_CODEEXEC}

      # Runner configuration
      - RUNNER_NAMESPACE=${RUNNER_NAMESPACE}
      - ECR_REGISTRY=${ECR_REGISTRY}
      - ECR_REPO_NAMESPACE=${ECR_REPO_NAMESPACE}
      - JOB_TIMEOUT=${JOB_TIMEOUT}

    networks:
      - code-exec-network

networks:
  code-exec-network:
    driver: bridge
