services:

  middleware-service-dev:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: Dockerfile
    container_name: middleware-service-dev
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - MIDDLEWARE_PORT=${MIDDLEWARE_PORT}
      - QUESTION_SERVICE_URL=${AUTH_QUESTION_SERVICE_URL}
      - MATCHING_SERVICE_URL=${AUTH_MATCHING_SERVICE_URL}
      - COLLAB_SERVICE_URL=${AUTH_COLLAB_SERVICE_URL}
      - USER_SERVICE_URL=${AUTH_USER_SERVICE_URL}
      - GOOGLE_APPLICATION_CREDENTIALS=${GOOGLE_APPLICATION_CREDENTIALS}
