@import "tailwindcss";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    /* For some reason the default ul and ol has no list style, so we have to set it explicitly */
    ul {
        list-style: disc !important;
        color: white;
    }

    ol {
        list-style: decimal !important;
        color: white !important;
    }
}

.backText {
  color: var(--mantine-color-brand-yellow-5);
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
